# --- Entorno de Python ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# --- Herramientas de Desarrollo ---
.vscode/
.idea/
*.code-workspace
.DS_Store

# --- Archivos de Construcción y Binarios ---
build/
dist/
*.spec
squashfs-root/
appimagetool.AppImage
*.AppImage
*.squashfs
AppDir/

# --- Logs y Datos Temporales ---
*.log
.cache/
.history/
# --- Secretos y claves ---
*.env
*.key
*.pem
*.token
*.crt
*.der
*.p12
credentials.json
*.credentials
